<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/header_footer_menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/main.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div hidden th:data-equipmenttype="${equipmentType}" id="url-parameters"></div>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <div class="table-head">
                <h2 th:text="${title}"></h2>
                <div class="button-block">
                    <button type="button" class="button button-cancel" onclick="showBux(this);">Бухгалтерская информация
                    </button>
                    <button type="button" class="button button-cancel" onclick="showTech(this);">Техническая информация
                    </button>
                    <button id="add-btn" class="button button-submit" th:text="'Добавить ' + ${title}"></button>
                </div>
            </div>
        </div>
        <div class="inner_content">
            <div class="container container-big">
                <table class="responsive-table big-table">
                    <thead>
                    <tr>
                        <th>название</th>
                        <th>инв. номер</th>
                        <th class="">код</th>
                        <th class="bux unshow">производитель</th>
                        <th class="bux unshow">зав. номер</th>
                        <th class="bux unshow">год вып.</th>
                        <th class="bux unshow">на баланс</th>
                        <th th:each="field: ${fields}"
                            th:text="${field.nameRus}"
                            th:class="${field.fieldClass}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="equipment:${equipmentList}" class="modal-row"
                        th:data-equipmentid="${equipment.equipmentId}">
                        <td th:text="${equipment.equipmentName}" data-label="название"></td>
                        <td th:text="${equipment.inventoryCode}" data-label="инв. номер"></td>
                        <td class="" th:text="${equipment.equipmentCode}" data-label="код"></td>
                        <td class="bux unshow"
                            th:text="${equipment.equipmentProducer} != null ?${equipment.equipmentProducer.producerName} : ''"
                            data-label="производитель"
                            th:data-id="${equipment.equipmentProducer} != null ? ${equipment.equipmentProducer.id} : ''"></td>
                        <td class="bux unshow" th:text="${equipment.partNumber}" data-label="зав. номер"></td>
                        <td class="bux unshow" th:text="${#dates.format(equipment.yearProduction,'yyyy')}"
                            data-label="год вып."></td>
                        <td class="bux unshow" th:text="${#dates.format(equipment.receiveDate, 'yyyy-MM-dd')}"
                            data-label="на баланс"></td>
                        <td th:each="field : ${fields}" th:with="fieldName=${field.engName}"
                            th:data-label="${field.nameRus}" th:data-name="${field.engName}"
                            th:data-type="${field.fieldType}"
                            th:class="${field.fieldClass} + ' equipment-data'"
                            th:data-bool="${field.fieldType == 'boolean'} ? ${equipment[fieldName]}: ''"
                            th:data-text="${field.fieldType == 'String' or field.fieldType == 'int'
                            or field.fieldType == 'Long' or field.fieldType == 'Integer'
                            or field.fieldType == 'double' or field.fieldType == 'float'}
                            ?${equipment[fieldName]}:''"
                        >

                            <span th:if="${field.fieldType == 'String' or field.fieldType == 'int'
                            or field.fieldType == 'Long' or field.fieldType == 'Integer'
                            or field.fieldType == 'double' or field.fieldType == 'float'}"
                                      th:text="${equipment[fieldName]}"
                                      th:data-text="${equipment[fieldName]}"></span>

                            <span th:if="${field.fieldType == 'boolean'}"
                                      th:text="${equipment[fieldName] ? 'да' : 'нет'}"></span>

                            <span th:unless="${field.fieldType == 'String' or field.fieldType == 'int'
                            or field.fieldType == 'Long' or field.fieldType == 'Integer'
                            or field.fieldType == 'double' or field.fieldType == 'float' or field.fieldType == 'Date'
                            or field.fieldType == 'boolean' or field.fieldType == 'Producer'}"
                                      th:text="${equipment[fieldName]} != null ? ${equipment[fieldName]['equipmentName']} : 'нет'"
                                      th:data-id="${equipment[fieldName]} != null ? ${equipment[fieldName]['equipmentId']} : ''"></span>

                        </td>
                        <td onclick="event.stopPropagation()">
                            <div class="button-block">
                                <a th:href="'/equipment/' + ${equipment.equipmentTypeId} + '/'+ ${equipment.equipmentId} + '/delete_equipment'">
                                    <button class="button button-danger button-sm">Удалить</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Модальное окно для добавления и редактирования продукта -->
            <div class="modal" id="product-modal">
                <div class="modal-content">
                    <span class="close" id="close-button">&times;</span>
                    <div id="modal-title" class="modal-title">Добавить</div>
                    <form id="modal-form" method="post">
                        <input type="hidden" id="equipment-id" name="equipmentId">
                        <div class="modal-block">
                            <label for="mold-base-name">название:</label>
                            <input type="text" id="mold-base-name" name="equipmentName" maxlength="255"
                                   required class="modal-input">
                        </div>
                        <div class="modal-block">
                            <label for="inventory-code">инвентарный номер:</label>
                            <input type="text" id="inventory-code" name="invCode" maxlength="14"
                                   required class="modal-input">
                        </div>
                        <div class="modal-block ">
                            <label for="code" class="">код:</label>
                            <input type="text" id="code" name="equipmentCode" maxlength="11" class="modal-input">
                        </div>
                        <div class="modal-block bux unshow">
                            <label for="producer" class="bux unshow">производитель:</label>
                            <select class="modal-select bux unshow" id="producer" name="equipmentProducer">
                                <option class="" value="0">нет</option>
                                <option th:each="producer : ${producers}"
                                        th:text="${producer.producerName} + '(' + ${producer.country.countryName} + ')'"
                                        th:value="${producer.id}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="part-number" class="bux unshow">заводской номер:</label>
                            <input type="text" id="part-number" name="partNumber" class="modal-input bux unshow">
                        </div>
                        <div class="modal-block">
                            <label for="year-production" class="bux unshow">год выпуска:</label>
                            <input type="date" id="year-production" name="yearProd"
                                   class="modal-input bux unshow">
                        </div>
                        <div class="modal-block">
                            <label for="receive-date" class="bux unshow">ввод в эксплуатацию:</label>
                            <input type="date" id="receive-date" name="receive" class="modal-input bux unshow">
                        </div>
                        <div class="modal-block" th:each="field: ${fields}" >
                            <label th:for="${#strings.toLowerCase(field.engName)}"
                                   th:text="${field.nameRus}" th:class="${field.fieldClass}"></label>
                            <th:block th:if="${field.fieldType == 'String'}">
                                <input type="text" th:id="${#strings.toLowerCase(field.engName)}"
                                       th:name="${field.engName}" th:data-type="${field.fieldType}"
                                       th:class="'modal-input equipment-data ' + ${field.fieldClass}">
                            </th:block>
                            <th:block th:if="${field.fieldType == 'int' or field.fieldType == 'Integer'}">
                                <input type="number" th:id="${#strings.toLowerCase(field.engName)}"
                                       th:name="${field.engName}" th:data-type="${field.fieldType}"
                                       th:class="'modal-input equipment-data ' + ${field.fieldClass}">
                            </th:block>
                            <th:block th:if="${field.fieldType == 'double' or field.fieldType == 'float'}">
                                <input type="number" th:id="${#strings.toLowerCase(field.engName)}"
                                       th:name="${field.engName}" th:data-type="${field.fieldType}"
                                       th:class="'modal-input equipment-data ' + ${field.fieldClass}">
                            </th:block>
                            <th:block th:if="${field.fieldType == 'boolean'}">
                                <select th:id="${#strings.toLowerCase(field.engName)}" th:name="${field.engName}"
                                        th:class="'modal-select equipment-data ' + ${field.fieldClass}"
                                        th:data-type="${field.fieldType}">
                                    <option value="true">да</option>
                                    <option value="false">нет</option>
                                </select>
                            </th:block>
                        </div>
                       <div class="button-block">
                            <button type="button" id="cancel-btn" class="button button-cancel">Отмена
                            </button>
                            <button type="submit" id="product-submit-button" class="button button-submit">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{menu/footer :: footer}"></div>
</div>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script type="module" src="/js/equipment/equipment.js"></script>
<script type="module" src="/js/main_modal.js"></script>
<script src="/js/equipment/equipment_extra.js"></script>

</body>

</html>