<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Блок пресс-формы</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header_footer_menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div hidden
     id="url-parameters"></div>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <div class="table-head">
                <h2>Блок пресс-формы</h2>
                <div class="button-block">
                    <button type="button" class="button button-cancel" onclick="showBux();">Бухгалтерская информация
                    </button>
                    <button type="button" class="button button-cancel" onclick="showTech();">Техническая информация
                    </button>
                    <button id="add-btn" class="button button-submit">Добавить блок пресс-формы
                    </button>
                </div>
            </div>
        </div>
        <div class="inner_content">
            <div class="container container-big">
                <table class="responsive-table big-table">
                    <thead>
                    <tr>
                        <th>название</th>
                        <th>инв. номер</th>
                        <th class="bux unshow">код</th>
                        <th class="bux unshow">производитель</th>
                        <th class="bux unshow">зав. номер</th>
                        <th class="bux unshow">год вып.</th>
                        <th class="bux unshow">на баланс</th>
                        <th class="tech unshow">ширина, мм</th>
                        <th class="tech unshow">длина, мм</th>
                        <th class="tech unshow">сменный модификатор</th>
                        <th class="tech unshow">горячий канал</th>
                        <th class="tech unshow">фланец подв. плита</th>
                        <th class="tech unshow">фланец неподв. плита</th>
                        <th class="tech unshow">время монтажа, мин</th>
                        <th class="tech unshow">время демонтажа, мин</th>
                        <th>на ТПА</th>
                        <th>ТПА</th>
                        <th>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="moldBase : ${moldBases}" class="modal-row"
                        th:data-moldbaseid="${moldBase.equipmentId}">
                        <td th:text="${moldBase.equipmentName}" data-label="название"></td>
                        <td th:text="${moldBase.inventoryCode}" data-label="инв. номер"></td>
                        <td class="bux unshow" th:text="${moldBase.equipmentCode}" data-label="код"></td>
                        <td class="bux unshow" th:text="${moldBase.equipmentProducer.producerName}"
                            data-label="производитель"></td>
                        <td class="bux unshow" th:text="${moldBase.partNumber}" data-label="зав. номер"></td>
                        <td class="bux unshow" th:text="${moldBase.yearProduction}" data-label="год вып."></td>
                        <td class="bux unshow" th:text="${moldBase.receiveDate}" data-label="на баланс"></td>
                        <td class="tech unshow" th:text="${moldBase.moldBaseWidthMm}" data-label="ширина, мм"></td>
                        <td class="tech unshow" th:text="${moldBase.moldBaseLengthMm}" data-label="длина, мм"></td>
                        <td class="tech unshow" th:text="${moldBase.ifChangeableModifier} ? 'да': 'нет'"
                            th:data-bool="${moldBase.ifChangeableModifier}"
                            data-label="сменный модификатор"></td>
                        <td class="tech unshow" th:text="${moldBase.hotRunner} ? 'да': 'нет'"
                            th:data-bool="${moldBase.hotRunner}"
                            data-label="горячий канал"></td>
                        <td class="tech unshow" th:text="${moldBase.movingPlateRingDiameterMm}"
                            data-label="фланец подв. плита"></td>
                        <td class="tech unshow" th:text="${moldBase.fixedPlateRingDiameterMm}"
                            data-label="фланец неподв. плита"></td>
                        <td class="tech unshow" th:text="${moldBase.moldMountTimeMin}" data-label="время монтажа, мин"></td>
                        <td class="tech unshow" th:text="${moldBase.moldReleaseTimeMin}"
                            data-label="время  демонтажа, мин"></td>
                        <td th:text="${moldBase.moldMounted} ? 'да': 'нет'"
                            th:data-bool="${moldBase.moldMounted}"
                            data-label="на ТПА"></td>
                        <td th:text="${moldBase.moldMounted} ? ${moldBase.moldMountedTo.equipmentName} : ''"
                            data-label="ТПА"></td>
                        <td onclick="event.stopPropagation()">
                            <div class="button-block">
                                <a th:href="'/equipment/Пресс-форма/'+ ${moldBase.equipmentId} + '/delete_mold_base'">
                                    <button class="button button-danger button-sm">Удалить</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Модальное окно для добавления и редактирования продукта -->
            <div class="modal" id="product-modal">
                <div class="modal-content">
                    <span class="close" id="close-button">&times;</span>
                    <div id="modal-title" class="modal-title">Добавить материал</div>
                    <form id="modal-form" method="post">
                        <div class="modal-block">
                            <input type="hidden" id="main-material-id" name="materialId">
                            <label for="material-type">тип материала:</label>
                            <select class="modal-select" id="material-type" name="materialType" required>
                                <option class="" th:each="material_type : ${materialTypes}"
                                        th:value="${material_type.materialId}"
                                        th:text="${material_type.materialName}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="main-material-name">название:</label>
                            <input type="text" id="main-material-name" name="materialName" required class="modal-input">
                        </div>
                        <div class="modal-block">
                            <label for="if-color">цветной</label>
                            <select class="modal-select" id="if-color" name="ifColor" required
                                    onchange="showColorGroup(this);">
                                <option value="true">да</option>
                                <option value="false">нет</option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="color-group">группа цветов:</label>
                            <select class="modal-select" id="color-group" required onchange="showColor(this);">
                                <option value="0">нет</option>
                                <option class="" th:each="color_group : ${colorGroups}"
                                        th:value="${color_group.colorGroupId}"
                                        th:class="color-group-values" style="display: none"
                                        th:text="${color_group.colorGroupName}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="color">цвет:</label>
                            <select class="modal-select" id="color" name="color" required>
                                <option class="" value="0">нет</option>
                                <option class="list-left" th:each="color : ${colors}"
                                        th:value="${color.colorId}"
                                        th:class="'color-' + ${color.colorGroup.colorGroupId}"
                                        style="display: none"
                                        th:text="${color.colorCode} + ' ' + ${color.colorName} + '(' + ${color.colorGroup.colorGroupName} + ')'">
                                </option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="if-reused">вторичный материал</label>
                            <select class="modal-select" id="if-reused" name="ifReused" required>
                                <option value="true">да</option>
                                <option value="false">нет</option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="producer">производитель:</label>
                            <select class="modal-select" id="producer" name="producer">
                                <option class="" value="0">нет</option>
                                <option th:each="producer : ${producers}"
                                        th:text="${producer.producerName} + '(' + ${producer.country.countryName} + ')'"
                                        th:value="${producer.id}">
                                </option>
                            </select>
                        </div>
                        <div class="button-block">
                            <button type="button" id="cancel-btn" class="button button-cancel">Отмена
                            </button>
                            <button type="submit" id="product-submit-button" class="button button-submit">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{menu/footer :: footer}"></div>
</div>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script type="module" src="/js/equipment/mold_base.js"></script>
<script type="module" src="/js/main_modal.js"></script>
<script src="/js/equipment/equipment_extra.js"></script>

</body>

</html>