<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Продукция</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header_footer_menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div hidden th:data-productgroupsid="${productGroupsId}"
     id="url-parameters"></div>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <div class="table-head">
                <h2>Продукция</h2>
                <button id="add-btn" class="button button-submit">Добавить продукцию
                </button>
            </div>
        </div>
        <div class="inner_content">
            <div class="container">
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th>артикул</th>
                        <th>название</th>
                        <th>кол-во деталей</th>
                        <th>группа цветов</th>
                        <th class="show-on-small-screen">
                            <select class="menu-select" id="product-filter" name="productGroup"
                                    onchange="if (this.value) window.location.href = this.value">
                                <option value="/products/0">группа товара</option>
                                <option th:each="product_group : ${productGroups}"
                                        th:text="${product_group.productGroupName}"
                                        th:value="'/products/' + ${product_group.productGroupId}"
                                        th:selected="${productGroupsId} == ${product_group.productGroupId}">
                                </option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product:${products}" class="modal-row"
                        th:data-productid="${product.productId}">
                        <td th:text="${product.productCode}" data-label="артикул"></td>
                        <td th:text="${product.productName}" data-label="название"></td>
                        <td th:text="${product.numberDetails}" data-label="кол-во деталей"></td>
                        <td th:text="${product.productGroup.colorGroup.colorGroupName}" data-label="группа цветов"></td>
                        <td th:text="${product.productGroup.productGroupName}" data-label="группа товара"
                            th:data-id="${product.productGroup.productGroupId}"></td>
                        <td onclick="event.stopPropagation()">
                            <div class="button-block">
                                <a th:href="'/details/'+ ${product.productId}" class="a_menu">
                                    <button class="button button-submit">Детали</button>
                                </a>&nbsp;
                                <a th:href="'/products/'+ ${product.productId} + '/deleteproduct?productGroupsId=' + ${productGroupsId}">
                                    <button class="button button-danger">Удалить</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Модальное окно для добавления и редактирования продукта -->
            <div class="modal" id="product-modal">
                <div class="modal-content">
                    <span class="close" id="close-button">&times;</span>
                    <div id="modal-title" class="modal-title">Добавить продукт</div>
                    <form id="modal-form" method="post">
                        <div class="modal-block">
                            <input type="hidden" id="product-id" name="productId">
                            <label for="product-code">Артикул:</label>
                            <input type="text" id="product-code" name="productCode" required class="modal-input">
                        </div>
                        <div class="modal-block">
                            <label for="product-name">Название:</label>
                            <input type="text" id="product-name" name="productName" required class="modal-input">
                        </div>
                        <div class="modal-block">
                            <label for="number-details">Кол-во деталей:</label>
                            <input type="text" id="number-details" name="numberDetails" required
                                   class="modal-input">
                        </div>
                        <div class="modal-block">
                            <label for="product-group">Группа товара:</label>
                            <select class="modal-select" id="product-group" name="productGroup" required>
                                <option th:each="product_group : ${productGroups}"
                                        th:text="${product_group.productGroupName}"
                                        th:value="${product_group.productGroupId}">
                                </option>
                            </select>
                        </div>
                        <div class="button-block">
                            <button type="button" id="cancel-btn" class="button button-cancel">Отмена
                            </button>
                            <button type="submit" id="product-submit-button" class="button button-submit">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{menu/footer :: footer}"></div>
</div>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script type="module" src="/js/products/products.js"></script>
<script type="module" src="/js/main_modal.js"></script>
</body>

</html>