.header {
    color: white;
    padding: 12px;
    background-color: #3B83BD;
    margin: 10px;
    border-radius: 10px;
}

.main_menu {
    margin: 6px;
    display: flex;
    list-style: none;
    padding: 2px;
    justify-content: space-around;

}

.nav_button {
    display: none;
}


.dropdown_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav_button:hover, .dropdown_button:hover, .dropdown_button_selected:hover {
    color: #293133;
}


.menu_active {
    font-weight: bold;
}


@media screen and (max-width: 600px) {
    .main_menu {
        margin: 2px;
        padding: 2px;
        display: inline-block;
        position: relative;
    }

    .main_menu:hover .dropdown_list {
        display: block;
    }

    .dropdown_list{
        background-color: #3B83BD;
        flex-direction: column;
        padding: 12px;
        border-radius: 10px;
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
    }

    .nav_button {
        display: block;
    }
    .dropdown_button, .dropdown_button_selected {
        padding: 8px;
    }

}

.footer {
    flex: 0 0 auto;
    color: white;
    padding: 12px;
    background-color: #293133;
    margin: 10px;
    border-radius: 10px;

}