* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

.inner_content{
    background-image: url("../static/demag.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #293133;

}

.header{
    color: white;
    padding: 12px;
    background-color: #3B83BD;
    margin: 10px;
    border-radius: 10px;
}

.main_menu{
    margin: 6px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 2px;
}
.nav_button{
    display: none;
}

.menu_button_selected{
    color: white;
    font-weight: bold;
}

.menu_button{
    color: white;
}

.menu_button:hover, .menu_button_selected:hover{
    color: #293133;
}

.container {
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1140px;
    margin: 0 auto;
}

.job_to_do{
    padding-top: 6px;
    padding-bottom: 6px;
}

.vertical_buttons_block{
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    padding: 6px;
    width: 33%;
}

.footer{
    flex: 0 0 auto;
    color: white;
    padding: 12px;
    background-color:#293133;
    margin: 10px;
    border-radius: 10px;

}