<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Сырье</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header_footer_menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div hidden th:data-materialtypesid="${materialTypesId}" th:data-producersid="${producersId}"
     id="url-parameters"></div>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <div class="table-head">
                <h2>Сырье</h2>
                <button id="add-material-btn" class="button button-submit">Добавить сырье
                </button>
            </div>
        </div>
        <div class="inner_content">
            <div class="container">
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th>название</th>
                        <th class="show-on-small-screen">
                            <select class="menu-select" id="material-type-filter" name="materialType"
                                    onchange="if (this.value) window.location.href = this.value">
                                <option th:value="'/main_material/0/' + ${producersId}">тип материала</option>
                                <option th:each="material_type : ${materialTypes}"
                                        th:value="'/main_material/' + ${material_type.materialId} + '/' + ${producersId}"
                                        th:selected="${materialTypesId} == ${material_type.materialId}"
                                        th:text="${material_type.materialName}">
                                </option>
                            </select>
                        </th>
                        <th>цветной</th>
                        <th>цвет</th>
                        <th>цветовая группа</th>
                        <th>вторичка</th>
                        <th class="show-on-small-screen">
                            <select class="menu-select" id="producer-filter" name="producer"
                                    onchange="if (this.value) window.location.href = this.value">
                                <option th:value="'/main_material/' + ${materialTypesId} + '/0'">производитель</option>
                                <option th:each="producer : ${producers}"
                                        th:text="${producer.producerName} + '(' + ${producer.country.countryName} + ')'"
                                        th:value="'/main_material/' + ${materialTypesId} + '/' + ${producer.id}"
                                        th:selected="${producersId} == ${producer.id}">
                                </option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="main_material:${mainMaterials}" class="table-row"
                        th:data-mainmaterialid="${main_material.materialId}">
                        <td th:text="${main_material.materialName}" data-label="название"></td>
                        <td th:text="${main_material.materialType.materialName}"
                            th:data-id="${main_material.materialType.materialId}" data-label="тип материала"></td>
                        <td data-label="цветной">
                            <input type="checkbox" th:value="${main_material.ifColor}" readonly></td>
                        <td th:text="${main_material.color.colorCode}" data-label="цвет"
                            th:data-id="${main_material.color.colorId}"></td>
                        <td th:text="${main_material.color.colorGroup.colorGroupName}"
                            data-label="цветовая группа"></td>
                        <td data-label="вторичка">
                            <input type="checkbox" th:value="${main_material.ifReused}" readonly></td>
                        <td th:text="${main_material.producer.producerName}" data-label="производитель"
                            th:data-id="${main_material.producer.id}"></td>
                        <td onclick="event.stopPropagation()">
                            <div class="button-block">
                                <a th:href="'/main_material/'+ ${main_material.materialId} + '/delete_main_material?materialTypesId=' +
                                ${materialTypesId} + '&pproducersId=' + ${producersId}">
                                    <button class="button button-danger">Удалить</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Модальное окно для добавления и редактирования продукта -->
            <div class="modal" id="product-modal">
                <div class="modal-content">
                    <span class="close" id="close-button">&times;</span>
                    <div id="modal-title" class="modal-title">Добавить материал</div>
                    <form id="product-form" method="post">
                        <div class="modal-block">
                            <input type="hidden" id="main-material-id" name="materialId">
                            <label for="main_material-name">название:</label>
                            <input type="text" id="main_material-name" name="materialName" required class="modal-input">
                        </div>
                        <div class="modal-block">
                            <label for="material-type-group">Цветовая группа:</label>
                            <select class="modal-select" id="material-type-group" name="materialType" required>
                                <option class="" th:each="material_type : ${materialTypes}"
                                        th:value="${material_type.materialId}"
                                        th:text="${material_type.materialName}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="iscolor">цветной</label>
                            <input type="checkbox" id="iscolor" name="isColor">
                            <label for="color">цвет:</label>
                            <select class="modal-select" id="color" name="color" required>
                                <option class="" th:each="color : ${colors}"
                                        th:value="${color.colorId}"
                                        th:text="${color.colorName} + '(' + ${color.colorGroup.colorGroupName} + ')'">
                                </option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="is-reused">вторичный материал</label>
                            <input type="checkbox" id="is-reused" name="isReused">
                        </div>
                        <div class="modal-block">
                            <label for="producer">производитель:</label>
                            <select class="modal-select" id="producer" name="producer" required>
                                <option th:each="producer : ${producers}"
                                        th:text="${producer.producerName} + '(' + ${producer.country.countryName} + ')'"
                                        th:value="${producer.id}">
                                </option>
                            </select>
                        </div>
                        <div class="button-block">
                            <button type="button" id="cancel-btn" class="button button-cancel">Отмена
                            </button>
                            <button type="submit" id="product-submit-button" class="button button-submit">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{menu/footer :: footer}"></div>
</div>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script src="/js/materials/main_material.js"></script>
</body>

</html>