/* Основные стили таблицы */
.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table tr {
    border: 1px solid #3B83BD;
    border-radius: 10px !important;
}


.responsive-table th,
.responsive-table td {
    padding: 6px;
}

.responsive-table td {
    text-align: center;
}

/* Стили модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #3B83BD;
    border-radius: 10px;
    max-width: 400px;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Стили кнопок */
.button {
    display: inline-block;
    padding: 8px 12px;
    border-style: none;
    border-radius: 5px;
    background-color: #3B83BD;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #265a88;
}

.button.cancel {
    background-color: #ddd;
    color: #333;
}

.button.cancel:hover {
    background-color: #bbb;
}



/* Медиа-запросы для адаптивности */
@media (max-width: 600px) {
    /* Скрытие заголовка таблицы при маленьком экране */
    .responsive-table thead {
        display: none;
    }

    /* Отображение каждой ячейки таблицы в отдельной строке */
    .responsive-table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #3B83BD;
        border-radius: 10px;
    }

    .responsive-table td {
        display: flex;
        justify-content: space-between;
        text-align: right;
        font-size: 14px;
        border: none;
        padding: 4px;
    }

    .responsive-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: block;
    }
}
