.imm_block {
    display: flex;
    flex-direction: column;
    border-style: groove;
    border-color: #3B83BD;
    border-radius: 6px;
}

.imm_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imm_label {
    padding: 6px;
}

.imm_input {
    padding: 6px;
    border-radius: 6px;
    border-color: #293133;
    width: 60px;
}

.imm_name_input {
    padding: 6px;
    border-radius: 6px;
    border-color: #293133;
    min-width: 140px;
}
.tech_menu {
    padding: 6px;
    margin: 6px;
    display: flex;
    list-style: none;
    align-self: end;

}

.imm_button {
    background-color: #3B83BD;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 6px;
    font-size: 100%;
}

.tech_menu:hover .tech_list {
    display: block;
}


.tech_list {
    margin-top: 30px;
    padding: 8px;
    background-color: #3B83BD;
    display: none;
    list-style: none;
    flex-direction: column;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    border-radius: 6px;

}


.imm_tech {
    display: none;
    flex-direction: column;
    font-size: 80%;
    align-items: end
}

.tech_button {
    padding: 6px;
}

.tech_row {
    display: flex;
    padding: 6px;
}

.tech_title{
    align-self: center;
    width: 240px;
}

.tech_block{
    align-items: end;
    display: flex;
}

.tech_comment{
    width: 160px;
    margin-left: 6px;
    display: flex;
    align-self: center;
}

.tech_size{
    width: 16mm;
    align-self: center;
}

@media screen and (max-width: 850px) {
    .imm_main {
        flex-direction: column;
    }

    .tech_row{
        flex-direction: column;
        align-items: end;
    }
}