.header {
    color: white;
    padding: 12px;
    background-color: #3B83BD;
    margin: 10px;
    border-radius: 10px;
}

.main_menu {
    margin: 6px;
    display: flex;
    list-style: none;
    padding: 2px;

}

.nav_button {
    display: none;
}


.dropdown_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.nav_button:hover, .dropdown_button_selected:hover, .a_menu:hover {
    color: #293133;
}

.a_menu{
    text-decoration: none;
    color: rgba(255,255,255,.55);
}

.color_menu{
    font-weight: normal;
    background-color: #3B83BD;
    padding: 12px;
    list-style: none;
    display: none;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    transform: translateX(-16px);
}

.product_menu{
    font-weight: normal;
    background-color: #3B83BD;
    padding: 12px;
    list-style: none;
    display: none;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    transform: translateX(-16px);
}

.equipment_menu{
    font-weight: normal;
    background-color: #3B83BD;
    padding: 12px;
    list-style: none;
    display: none;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    transform: translateX(-16px);
}


.drop_button{
    padding: 6px;
}

.menu_active {
    color: #ffffff;
}

@media screen and (max-width: 600px) {
    .main_menu {
        margin: 2px;
        padding: 2px;
        display: inline-block;
        position: relative;
    }

    .main_menu:hover .dropdown_list {
        display: block;
    }

    .dropdown_list{
        background-color: #3B83BD;
        flex-direction: column;
        padding: 12px;
        border-radius: 10px;
        display: none;
        position: absolute;
        min-width: 160px;
        z-index: 1;
        transform: translateX(-16px);

    }

    .nav_button {
        display: block;
    }

    .dropdown_button {
        padding: 6px;
    }

    .color_menu {
        right: -80%;
        top: 70%;
    }

    .equipment_menu {
        left: 90%;
        top: 55%;
    }
    .product_menu {
        right: -80%;
        top: 70%;
    }


}

.footer {
    flex: 0 0 auto;
    color: white;
    padding: 12px;
    background-color: #293133;
    margin: 10px;
    border-radius: 10px;

}