/* Стили модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-title{
    color: white;
    background-color: #3B83BD;
    padding: 8px;
    border-radius: 6px;
    margin: 6px;
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #3B83BD;
    border-radius: 10px;
    max-width: 400px;
}

.close {
    margin: 8px;
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.modal-block {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
}
.modal-input{
    width: 50%;
    padding: 4px;
    margin-left: 12px;
    margin-top: 4px;
    border-radius: 6px;
    border-color: #293133;
    border-width: thin;
    border-style: solid;
    text-align: right;
    max-width: 50%;
}

.modal-select{
    width: 52%;
    padding: 4px;
    margin-left: 12px;
    margin-top: 4px;
    border-radius: 6px;
    border-color: #293133;
    border-width: thin;
    border-style: solid;
    text-align: center;
    max-width: 52%;
}

.list-left{
    text-align: start;
}

.button-block {
    display: flex;
    justify-content: flex-end;
    padding: 4px;

}


.button.cancel {
    background-color: #ddd;
    color: #333;
}

.button.cancel:hover {
    background-color: #bbb;
}



