/* Основные стили таблицы */
.table-head {
    display: flex;
    align-items: center;
    padding: 6px;
    justify-content: space-between;
}

.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table tr {
    border: 1px solid #3B83BD;
    border-radius: 10px !important;
}

.responsive-table tr:hover {
    background-color: #dddddd;
}


.responsive-table th,
.responsive-table td {
    padding: 1px;
}

.responsive-table td {
    text-align: center;
}

.menu-select {
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    border-style: none;
}

.big-table {
    font-size: 90%;
}


/* Медиа-запросы для адаптивности */
@media (max-width: 600px) {
    /* Скрытие заголовка таблицы при маленьком экране */
    .responsive-table th {
        display: none;
    }

    /* Отображение каждой ячейки таблицы в отдельной строке */
    .responsive-table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #3B83BD;
        border-radius: 10px;
    }

    .responsive-table td {
        display: flex;
        justify-content: space-between;
        text-align: right;
        font-size: 14px;
        border: none;
        padding: 2px;
    }

    .responsive-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: block;
    }

    /* Отображение селекторов на маленьком экране */
    .responsive-table th.show-on-small-screen {
        display: table-cell;
        width: 40%
    }
}
