<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="header">
    <div class="header">
        <div class="main_menu">
            <div class="nav_button"><img src="/image/list.svg" alt="navi"></div>
            <ul class="dropdown_list">
                <li class="dropdown_button">
                    <a href="/" class="a_menu" th:classappend="${activePage == 'home' ? 'menu_active' : ''}">Главная</a>
                </li>
                <li class="dropdown_button">
                    <a href="/techcard" class="a_menu"
                       th:classappend="${activePage == 'techcard' ? 'menu_active' : ''}">Техкарта</a>
                </li>
                <li class="dropdown_button menu-button" data-menu="product-menu">
                    <a href="" class="a_menu" th:classappend="${activePage == 'products' ? 'menu_active' : ''}">Продукция</a>
                    <ul class="dropdown_menu" id="product-menu">
                        <li class="drop_button">
                            <a href="/products/0/0" class="a_menu menu_active">Готовая продукция</a>
                        </li>
                        <li class="drop_button">
                            <a href="" class="a_menu menu_active">Запасные части</a>
                        </li>
                        <li class="drop_button">
                            <a href="" class="a_menu menu_active">Комплектация</a>
                        </li>
                    </ul>

                </li>
                <li class="dropdown_button menu-button" data-menu="equipment-menu">
                    <a href="/equipment" class="a_menu"
                       th:classappend="${activePage == 'equipment' ? 'menu_active' : ''}">Оборудование</a>
                    <ul class="dropdown_menu" id="equipment-menu">
                        <li class="drop_button" th:each="eqType : ${equipmentTypes}">
                            <a th:href="'/equipment/' + ${eqType.id}" class="a_menu menu_active"
                               th:text="${eqType.typeName}"></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown_button menu-button" data-menu="color-menu">
                    <a href="" class="a_menu" th:classappend="${activePage == 'colors' ? 'menu_active' : ''}">Цвета</a>
                    <ul class="dropdown_menu" id="color-menu">
                        <li class="drop_button">
                            <a href="/colors/0" class="a_menu menu_active">Цвета</a>
                        </li>
                        <li class="drop_button">
                            <a href="/colorgroups" class="a_menu menu_active">Группы цветов</a>
                        </li>
                        <li class="drop_button">
                            <a href="" class="a_menu menu_active">Рецептуры</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown_button menu-button" data-menu="color-menu">
                    <a href="" class="a_menu" th:classappend="${activePage == 'materials' ? 'menu_active' : ''}">Сырье</a>
                    <ul class="dropdown_menu" id="material-menu">
                        <li class="drop_button">
                            <a href="/materialtypes" class="a_menu menu_active">Тип материала</a>
                        </li>
                        <li class="drop_button">
                            <a href="" class="a_menu menu_active">Материал</a>
                        </li>
                        <li class="drop_button">
                            <a href="" class="a_menu menu_active">Краситель</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown_button menu-button" data-menu="color-menu">
                    <a href="" class="a_menu" th:classappend="${activePage == 'dicts' ? 'menu_active' : ''}">Справочники</a>
                    <ul class="dropdown_menu" id="dicts-menu">
                        <li class="drop_button">
                            <a href="/producer" class="a_menu menu_active">Производитель</a>
                        </li>
                        <li class="drop_button">
                            <a href="/country" class="a_menu menu_active">Страна</a>
                        </li>
                        <li class="drop_button">
                            <a href="" class="a_menu menu_active">Краситель</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>