<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="header">
    <div class="header">
        <div class="main_menu">
            <div class="nav_button"><img src="/image/list.svg" alt="navi"></div>
            <ul class="dropdown_list">
                <li class="dropdown_button">
                    <a href="/" class="a_menu" th:classappend="${activePage == 'home' ? 'menu_active' : ''}">Главная</a>
                </li>
                <li class="dropdown_button">
                    <a href="/techcard" class="a_menu"
                       th:classappend="${activePage == 'techcard' ? 'menu_active' : ''}">Техкарта</a>
                </li>
                <li class="dropdown_button menu-button" data-menu="equipment-menu">
                    <a href="" class="a_menu"
                       th:classappend="${activePage == 'equipment' ? 'menu_active' : ''}">Оборудование</a>
                    <ul class="dropdown_menu" id="equipment-menu">
                        <div class="sub-menu-button border-down">
                            <li class="drop_button" >
                                <a href="" class="a_menu">Совместимость оборудования</a></li>
                            <li class="drop_button sub-menu-item">
                                <a href="" class="a_menu menu_active">&#8226;&nbsp;ТПА&nbsp;-&nbsp;плита</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="" class="a_menu menu_active">&#8226;&nbsp;ТПА&nbsp;-&nbsp;Пресс-форма</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="" class="a_menu menu_active">&#8226;&nbsp;Пресс-форма&nbsp;комплект</a>
                            </li>
                        </div>
                        <div class="sub-menu-button" th:each="eqKind : ${equipmentKind}">
                            <li class="drop_button" >
                                <a href="" class="a_menu"
                                   th:text="${eqKind.getKey().getEquipmentKindName()}"></a></li>
                            <li th:each="eqType:${eqKind.getValue()}" class="drop_button sub-menu-item">
                                <a th:href="'/equipment/' + ${eqType.equipmentTypeId}" class="a_menu menu_active"
                                   th:text="'• ' + ${eqType.equipmentTypeName}"></a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="dropdown_button menu-button" data-menu="color-menu">
                    <a href="" class="a_menu"
                       th:classappend="${activePage == 'dicts' ? 'menu_active' : ''}">Справочники</a>
                    <ul class="dropdown_menu" id="dicts-menu">
                        <div class="sub-menu-button">
                            <li class="drop_button" data-menu="product-menu">
                                <a href="/products/0" class="a_menu">Продукция</a></li>
                            <li class="drop_button sub-menu-item">
                                <a href="/products/0" class="a_menu menu_active">&#8226;&nbsp;Готовая продукция</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/detail/0/0" class="a_menu menu_active">&#8226;&nbsp;Детали</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/detail_to_product/0" class="a_menu menu_active">&#8226;&nbsp;Комплектация</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/product_group/0" class="a_menu menu_active">&#8226;&nbsp;Группы товара</a>
                            </li>
                        </div>
                        <div class="sub-menu-button">
                            <li class="drop_button" data-menu="color-menu">
                                <a href="/producer/0/0" class="a_menu">Производитель</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/producer/0/0" class="a_menu menu_active">&#8226;&nbsp;Производитель</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/country" class="a_menu menu_active">&#8226;&nbsp;Страна</a>
                            </li>
                        </div>

                        <div class="sub-menu-button">
                            <li class="drop_button" data-menu="color-menu">
                                <a href="/colors/0" class="a_menu">Цвета</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/colorgroups" class="a_menu menu_active">&#8226;&nbsp;Цветовые группы</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/colors/0" class="a_menu menu_active">&#8226;&nbsp;Цвета</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/color_doze/0" class="a_menu menu_active">&#8226;&nbsp;Рецептуры</a>
                            </li>
                        </div>
                        <div class="sub-menu-button">
                            <li class="drop_button" data-menu="color-menu">
                                <a href="/materialtypes" class="a_menu">Сырье</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/materialtypes" class="a_menu menu_active ">&#8226;&nbsp;Тип материала</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/main_material/0/0" class="a_menu menu_active">&#8226;&nbsp;Материал</a>
                            </li>
                            <li class="drop_button sub-menu-item">
                                <a href="/masterbatch/0" class="a_menu menu_active ">&#8226;&nbsp;Краситель</a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>