<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Цвета</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header_footer_menu.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <h1>Цвета</h1>
        </div>
        <div class="inner_content">
            <div class="container">
            </div>
            <!--    <div class="container">
    <div class="vertical_buttons_block">
        <button type="button" class="job_button">Технологическая&nbsp;карта</button>
        <button type="button" class="job_button">й</button>
        <button type="button" class="job_button"></button>
        <button type="button" class="job_button">Справочник&nbsp;Цветов/Групп&nbsp;цветов</button>
    </div>
</div>
-->
        </div>
    </div>
    <div th:insert="~{menu/footer :: footer}"></div>
</div>
</body>

</html>