<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Цвета</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header_footer_menu.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <h1 th:text="'Цвета (' + ${colorGroup.colorGroupName} + ')'">Цвета</h1>
        </div>
        <div class="inner_content">
            <div class="container">
                <button id="add-color-btn" class="button">Добавить новый цвет</button>
            </div>
            <div class="container">
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th>код цвета</th>
                        <th>название</th>
                        <th>pantone</th>
                        <th>HEX</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="color:${colors}" class="color-row">
                        <td th:text="${color.colorCode}" data-label="код цвета"></td>
                        <td th:text="${color.colorName}" data-label="название"></td>
                        <td th:text="${color.colorPantone}" data-label="pantone"></td>
                        <td th:text="${color.colorHEX}" data-label="HEX"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Модальное окно для добавления и редактирования цвета -->
            <div class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 id="modal-title">Добавить цвет</h2>
                    <form id="color-form">
                        <input type="hidden" id="color-id">
                        <label for="color-code">Код цвета:</label>
                        <input type="text" id="color-code" name="colorCode" required>
                        <label for="color-name">Название:</label>
                        <input type="text" id="color-name" name="colorName" required>
                        <label for="color-pantone">Pantone:</label>
                        <input type="text" id="color-pantone" name="colorPantone">
                        <label for="color-hex">HEX:</label>
                        <input type="text" id="color-hex" name="colorHEX" required>
                        <button type="button" id="cancel-btn">Отмена</button>
                        <button type="submit" id="color-submit-btn" class="button">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{menu/footer :: footer}"></div>
</div>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script src="/js/colors.js"></script>
</body>

</html>