<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Технологические карты</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/header_footer_menu.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div class="wrapper">
    <div class="content">
        <div class="header">
            <div class="main_menu">
                <div class="nav_button"><img src="/list.svg" alt="navi"></div>
                <ul class="dropdown_list">
                    <li class="dropdown_button menu_active">Главная</li>
                    <li class="dropdown_button">Техкарта</li>
                    <li class="dropdown_button">Продукция</li>
                    <li class="dropdown_button">Оборудование</li>
                    <li class="dropdown_button">Цвета</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <h1>Производственное задание</h1>
        </div>
        <div class="inner_content">
            <div class="container">
                <div class="job_to_do">работа 1</div>
                <div class="job_to_do">работа 2</div>
                <div class="job_to_do">работа 3</div>
                <div class="job_to_do">работа 4</div>
                <div class="job_to_do">работа 5</div>
                <div class="job_to_do">работа 6</div>
            </div>
            <!--    <div class="container">
    <div class="vertical_buttons_block">
        <button type="button" class="job_button">Технологическая&nbsp;карта</button>
        <button type="button" class="job_button">й</button>
        <button type="button" class="job_button"></button>
        <button type="button" class="job_button">Справочник&nbsp;Цветов/Групп&nbsp;цветов</button>
    </div>
</div>
-->
        </div>
    </div>
    <div class="footer">
        <div class="main_menu">
            <div class="nav_button"><img src="/logoVV.svg" alt="logo"></div>
            <div class="dropdown_list">VikiVostok LTD all rights reserved</div>
        </div>
    </div>
</div>
</body>

</html>