<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Продукция</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header_footer_menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <div class="table-head">
                <h2>Продукция</h2>
                <button id="add-product-btn" class="button button-submit">Добавить продукцию
                </button>
            </div>
            <div class="inner_content">
                <div class="container">
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th>артикул</th>
                            <th>название</th>
                            <th>количество деталей</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product:${products}" class="table-row"
                            th:data-productid="${product.productId}">
                            <td th:text="${product.productCode}" data-label="артикул"></td>
                            <td th:text="${product.productName}" data-label="название"></td>
                            <td th:text="${product.numberDetails}" data-label="кол-во деталей"></td>
                            <td onclick="event.stopPropagation()">
                                <a th:href="'/colors/details/'+ ${product.productId}" class="a_menu">
                                    <button class="button button-submit">Детали</button>
                                </a>&nbsp;
                                <a th:href="'/products/'+ ${product.productId} + '/deleteproduct'">
                                    <button class="button button-danger">Удалить</button>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Модальное окно для добавления и редактирования продукта -->
                <div class="modal" id="product-modal">
                    <div class="modal-content">
                        <span class="close" id="close-button">&times;</span>
                        <div id="modal-title" class="modal-title">Добавить продукт</div>
                        <form id="product-form" method="post">
                            <div class="modal-block">
                                <input type="hidden" id="product-id" name="productId">
                                <label for="product-code">Артикул:</label>
                                <input type="text" id="product-code" name="productCode" required class="modal-input">
                            </div>
                            <div class="modal-block">
                                <label for="product-name">Название:</label>
                                <input type="text" id="product-name" name="productName" required class="modal-input">
                            </div>
                            <div class="modal-block">
                                <label for="number-details">Кол-во деталей:</label>
                                <input type="text" id="number-details" name="numberDetails" required
                                       class="modal-input">
                            </div>
                            <div class="button-block">
                                <button type="button" id="cancel-btn" class="button button-cancel">Отмена
                                </button>
                                <button type="submit" id="product-submit-button" class="button button-submit">
                                    Добавить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div th:insert="~{menu/footer :: footer}"></div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/products.js"></script>
</div>
</body>

</html>