<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Производители</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header_footer_menu.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/modal.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
<div hidden th:data-countryid="${countryId}" th:data-producertypeid="${producerTypesId}"
     id="url-parameters"></div>
<div class="wrapper">
    <div class="content">
        <div th:insert="~{menu/header :: header}"></div>
        <div class="container">
            <div class="table-head">
                <h2>Производители</h2>
                <button id="add-btn" class="button button-submit">Добавить производителя
                </button>
            </div>
        </div>
        <div class="inner_content">
            <div class="container">
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th>название</th>
                        <th class="show-on-small-screen">
                            <select class="menu-select" id="country-filter" name="country"
                                    onchange="if (this.value) window.location.href = this.value">
                                <option th:value="'/producer/0/' + ${producerTypeId}">страна</option>
                                <option th:each="country : ${countries}"
                                        th:value="'/producer/' + ${country.id} + '/' + ${producerTypesId}"
                                        th:selected="${countryId} == ${country.id}"
                                        th:text="${country.countryName}">
                                </option>
                            </select>
                        </th>
                        <th class="show-on-small-screen">
                            <select class="menu-select" id="producer-type-filter" name="producerType"
                                    onchange="if (this.value) window.location.href = this.value">
                                <option th:value="'/producer/' + ${countryId} + '/0'">специализация</option>
                                <option th:each="producer_type : ${producerTypes}"
                                        th:text="${producer_type.getValue()}"
                                        th:value="'/producer/' + ${countryId} + '/' + ${producer_type.getKey()}"
                                        th:selected="${producerTypesId} == ${producer_type.getKey()}">
                                </option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="producer:${producers}" class="modal-row"
                        th:data-producerid="${producer.id}">
                        <td th:text="${producer.producerName}" data-label="название"></td>
                        <td th:text="${producer.country.countryName}" data-label="страна"
                            th:data-id="${producer.country.id}"></td>
                        <td th:text="${producer.producerType}" data-label="специализация"
                            th:data-id="${producer.producerTypeId}"></td>
                        <td onclick="event.stopPropagation()">
                            <div class="button-block">
                                <a th:href="'/producer/'+ ${producer.id} + '/delete_producer?countryId=' +
                                ${countryId} + '&producerTypeId=' + ${producerTypeId}">
                                    <button class="button button-danger">Удалить</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Модальное окно для добавления и редактирования продукта -->
            <div class="modal" id="producer-modal">
                <div class="modal-content">
                    <span class="close" id="close-button">&times;</span>
                    <div id="modal-title" class="modal-title">Добавить производителя</div>
                    <form id="modal-form" method="post">
                        <div class="modal-block">
                            <input type="hidden" id="producer-id" name="Id">
                            <label for="producer-name">Название:</label>
                            <input type="text" id="producer-name" name="producerName" required class="modal-input">
                        </div>
                        <div class="modal-block">
                            <label for="country">Страна:</label>
                            <select class="modal-select" id="country" name="country" required>
                                <option class="" th:each="country : ${countries}"
                                        th:value="${country.id}"
                                        th:text="${country.countryName}">
                                </option>
                            </select>
                        </div>
                        <div class="modal-block">
                            <label for="producer-type">Специализация:</label>
                            <select class="modal-select" id="producer-type" name="producerTypeId" required>
                                <option th:each="producer_type : ${producerTypes}"
                                        th:text="${producer_type.getValue()}"
                                        th:value="${producer_type.getKey()}">
                                </option>
                            </select>
                        </div>
                        <div class="button-block">
                            <button type="button" id="cancel-btn" class="button button-cancel">Отмена
                            </button>
                            <button type="submit" id="product-submit-button" class="button button-submit">
                                Сохранить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{menu/footer :: footer}"></div>
</div>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script type="module" src="/js/dicts/producer.js"></script>
<script type="module" src="/js/main_modal.js"></script>
</body>

</html>